input[type=radio], input[type=checkbox], select, .glyphicon {
  margin: 5px;
}

.float-right {
  float: right;
}

.form-group {
  margin: 1% 1%;
}

.message {
  width: 50%;
  margin: auto;
  padding: 5px;
  text-align: center;
  background-color: #b2ff99;
}
